*{margin: 0;padding: 0}
*{box-sizing: border-box;}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}

a{color: inherit; text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
img{width: 100%;height: 100%}

body{font:14px/1.5 Helvetica,sans-serif;}
.icon {
  width: 28px; height: 28px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body{
  font-size: 15px;
  background: white;
}

header{position: fixed;top: 0;left: 0;width: 1rem;z-index: 1}
.logoAndDownload{background: rgb(212, 60, 51);height: 0.173rem;border-bottom: 1px solid rgb(227,130, 124);
  padding: 0 10px;color: #fff;display: flex;justify-content: space-between;align-items: center;}
.logo{font-weight: 500;display: flex;line-height: 65px;align-items: center;font-size: 22px;}
.icon.logo{margin-right: 5px;fill:#fff}
.downloadApp{width: 0.213rem;height: 0.08rem;border: 1px solid rgba(255,255,255,0.6);border-radius: 30px;text-align: center;
  line-height: 0.08rem;font-size: 15px;}

header>nav{width: 100%;height: 0.107rem;border-bottom: 1px solid #ccc;background: #fff}
header>nav>ul{width: 100%;display: flex;height: 100%}
header>nav>ul>li{width: 33.3%;height: 100%;text-align: center;}
header>nav>ul>li>div{height: 100%;padding: 0 5px;line-height:0.107rem;display: inline-block; }
header>nav>ul>li>div.active{color: #d33a31;border-bottom: 2px solid #d33a31;}

.page{display: none}
.page.active{display: block;margin-top: 0.331rem;}

/* page-1 */
.remdPlaylist{padding-bottom:24px; }
.remdPlaylist>h2{font-size: 17px;padding-left: 9px;margin-bottom: 14px;height: 20px;line-height: 20px;position: relative;
  }
.remdPlaylist>h2::before{content:'';position: absolute;width: 2px;height: 16px;background: #d33a31;top: 1px;left: 0}
.remdPlaylist>.playlists>a{padding-bottom: 12px}
.remdPlaylist>.playlists>a>p{padding:6px 2px 0px 6px;font-size: 13px}


.playlists{width: 1rem;display: flex;justify-content:space-between;flex-wrap: wrap;}

/* remd-ul{width: 1rem;display: flex;justify-content:space-between} */
.playlists>a{display: block;width: 0.328rem}
.playlistCover{width: 0.328rem;height:0.328rem;position: relative; }
/* .playlistCover>img{background-image: url(http://p9jn3e4j0.bkt.clouddn.com/song1.jpg) center center;height: 100%} */
.playlistCover>p{position: absolute;top: 2px;right: 5px;z-index: 1;color: #fff;font-size: 12px;}
.playlistCover>p>svg.headset{fill: #fff;width: 12px;height: 12px;}


.remd-ul>a>p{font-size: 13px;padding: 6px 2px 0 6px;}



.latestSongs>h2{font-size: 17px;padding-left: 9px;margin-bottom: 14px;height: 20px;line-height: 20px;position: relative;
}
.latestSongs>h2::before{content:'';position: absolute;width: 2px;height: 16px;background: #d33a31;top: 1px;left: 0}

.songRaw{display:block;width: 0.97rem;margin-left: 0.03rem;border-bottom: 1px solid #ccc;display: flex}
.songRaw>.songWrapper{padding: 6px 0;width: 88.5%;}
.songName{font-size: 17px;}
.singer{font-size: 12px;color: #888;display: flex;align-items: center}
.singer>svg.sq{width: 16px;height: 16px;margin-right:4px;}

.playBtn{width:11.5%;display: flex;justify-content: center;align-items: center;}
.playBtn>svg{width: 22px;height: 22px;fill: rgb(170, 170, 170); }

/* page-2 */
.hotSongsTittlePart{width: 100%;padding-left: 20px;background:rgb(170,96,74);margin-top: -0.331rem;}


footer{width: 100%;height: 0.533rem;background: url();}
footer>.logo{padding-top: 16.1%;display: flex;justify-content: center;font-size: 34px;line-height: 44px;}
footer>.logo>svg.footerLogo{width: 0.145rem;height:0.145rem;fill: rgb(230, 0, 18) }
footer>.openApp{border: 1px solid #d33a31;color: #d33a31;font-size: 16px;text-align: center;line-height: 38px;
  border-radius: 38px;margin: 15px 37px 5px;}
footer>p{color:#888;font-size: 12px;line-height: 16px;text-align: center;margin-bottom: 10px;}
